//color definitions
$blue: #0F7BFF;
$dark-blue: #0063DD;
$gray: #929292;
$white: #FFFFFF;

//animations
@-moz-keyframes fadeIn {
  from {
    opacity: 0
  }
  to {
    opacity: 100
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0
  }
  to {
    opacity: 100
  }
}

* {
  margin: 0 auto;
}

body {
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  background: $white;
  font-family: Quicksand, sans-serif;
  font-weight: 400;
  font-size: 16px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 18px;
}

button {
  width: 165px;
  height: 50px;
}

.button {
  font-family: inherit;
  font-weight: 700;
  color: $blue;
  font-size: 16px;
  background-color: $white;
  border: 2px solid $blue;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    color: $white;
    background-color: $blue;
  }
}

.blue {
  color: $white;
  background-color: $blue;

  &:hover {
    color: $blue;
    background-color: $white;
  }
}

header {
  .waves {
    position: absolute;
    box-shadow: -7px -7px 32px rgba(0, 30, 67, 0.06);
    width: 100%;
    z-index: -999;
  }

  .promo {
    margin-top: 87px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 655px;
    height: 239px;

    .button:first-child {
      margin-right: 26px;
    }

    h1 {
      padding-bottom: 30px;
    }

    p {
      color: $gray;
      font-weight: 400;
      line-height: 27px;
      padding-bottom: 33px;
    }
  }

  .menu {
    position: absolute;
    right: 0;
    padding-top: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;

    a {
      font-weight: 500;
      text-decoration: none;
      color: $gray;
      margin-right: 40px;

      &.active {
        color: $blue;
      }
    }

    .button {
      margin-left: 12px;
      margin-right: 140px;
      font-size: 16px;
      background-color: $dark-blue;
      border: 2px solid $dark-blue;

      &:hover {
        color: $dark-blue;
        background-color: $white;
      }
    }
  }

  .devices {
    position: absolute;
    left: 50%;
    transform: translate(-51%, 0);
    margin-right: -50%;
    margin-top: 68px;
    z-index: -3;
  }
}

main {
  margin-top: 600px;
}

.logo {
  display: inline-flex;
  cursor: pointer;
  margin-left: 136px;
  padding: 25px 23px 32px 23px;
  background: $blue;
  border-radius: 0 0 22px 22px;

  text-align: center;
  color: $white;
  font-size: 36px;
  font-weight: 700;

}

.scrollDown {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  margin-right: -50%;
  top: 972px;
}

.features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 30px;
  grid-template-areas: '. c1 c2 c3 .';
  text-align: center;
  background-color: #F5FCFD;
  padding-bottom: 130px;

  .card {
    margin-top: 165px;
    width: 362px;
    height: 290px;
    box-shadow: 0 4px 16px rgba(0, 66, 148, 0.08);
    border-radius: 5px;

    &:first-child {
      grid-area: c1;
    }

    &:nth-child(2) {
      grid-area: c2;
      margin-top: 215px;
    }

    &:last-child {
      grid-area: c3;
    }

    h3 {
      padding-bottom: 25px;
    }

    p {
      font-weight: 300;
      width: 333px;
    }

    img {
      padding-top: 40px;
      padding-bottom: 21px;
    }
  }


}

.about {
  padding-top: 60px;

  .container {
    margin-right: 105px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: '. img1 t1. ' '. t2 img2 .';
    grid-row-gap: 233px;

    h2 {
      padding-bottom: 30px;
    }

    p {
      font-weight: 300;
      line-height: 24px;
    }

    .img1 {
      margin-left: 122px;
      grid-area: img1;
    }

    .img2 {
      margin-left: 126px;
      margin-top: -17px;
      grid-area: img2;
    }

    .messaging {
      grid-area: t1;
      margin-left: 125px;

      h2 {
        margin-top: 95px;
      }

      p {
        width: 476px;
      }

    }

    .keepInTouch {
      grid-area: t2;
      margin-left: 120px;

      h2 {
        margin-top: 85px;
      }

      p {
        width: 543px;
      }
    }

    .readMore {
      font-weight: 500;
      padding-top: 36px;
      margin: 0 0;
      display: flex;
      align-items: center;

      div {
        margin: 0;
        color: $blue;
        display: inline-block;
        padding-right: 15px;
      }

      img {
        margin: 0;
        display: inline-block;
      }
    }

    .figure {
      position: absolute;
      width: 390px;
      height: 483px;
      transform: matrix(0.77, -0.64, -0.64, -0.77, 0, 0);
      border-radius: 40px;
    }

    .figure-1 {
      left: 394px;
      top: 1670px;
      background: linear-gradient(147.4deg, $blue 7.27%, $dark-blue 93.68%);
    }

    .figure-2 {
      background: linear-gradient(272deg, #0F7BFF 4.58%, #0063DD 78.9%);
      left: 1136px;
      top: 2358px;
    }

    img {
      z-index: 1;
    }
  }
}

.instruction {
  background-color: #F5FCFD;

  .title {
    margin-top: 116px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 44px;

    h2 {
      padding-top: 119px;
      font-weight: 400;
      padding-bottom: 25px;
    }

    p {
      font-weight: 300;
      line-height: 24px;
      width: 722px;
    }
  }

  .cards {
    display: grid;
    grid-gap: 26px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: '. c1 c2 c3 .';
    text-align: center;
  }

  .line {
    position: absolute;
    top: 3180px;
    left: 50%;
    transform: translate(-50%, 0);
    margin-right: -50%;
    min-width: 40%;
  }

  .card {

    &:nth-child(2) {
      grid-area: c1;
    }

    &:nth-child(3) {
      grid-area: c2;
    }

    &:last-child {
      grid-area: c3;
    }

    z-index: 1;

    h3 {
      padding-top: 28px;
      padding-bottom: 20px;
    }

    p {
      font-weight: 300;
      line-height: 24px;
      width: 333px;
      margin-bottom: 137px;
    }
  }

}

.plans {
  margin-top: 130px;
  margin-bottom: 129px;

  .container {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: '. pricing c1 c2 .';
    text-align: center;

    :first-child {
      grid-area: pricing;
    }

    :nth-child(2) {
      grid-area: c1;
    }

    :last-child {
      grid-area: c2;
    }
  }

  .pricing {
    width: 336px;
    text-align: left;
    margin: 161px 0 0 0;


    p {
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 40px;
    }

    h2 {
      font-weight: 500;
      margin-bottom: 30px;
    }

    .toggle {
      display: inline-block;
      overflow: hidden;

      input[type=radio] {
        display: none;

        &:checked + label {
          background: $blue;
          color: #FFFFFF;
        }
      }


      label {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-family: inherit;
        font-weight: 700;
        color: $blue;
        font-size: 16px;
        background-color: $white;
        border: 2px solid $blue;
        border-radius: 25px;
        transition: background-color 0.3s, color 0.3s;
        width: 162px;
        height: 46px;
      }
    }

    .item {
      float: left;
      display: inline-block;

      &:first-child label {
        border-radius: 25px 0 0 25px;
      }

      &:last-child label {
        border-radius: 0 25px 25px 0;
      }
    }
  }

  .card {
    width: 362px;
    filter: drop-shadow(0px 4px 20px rgba(0, 78, 172, 0.08));
    background-color: #FFFFFF;
    padding-bottom: 46px;

    .dollarSign {
      font-size: 18px;
    }

    ul {
      padding: 0;
      margin-bottom: 21px;
    }

    li {
      list-style-type: none;
      font-weight: 300;
      padding-bottom: 9px;
    }

    img {
      margin-top: 39px;
      margin-bottom: 14px;
    }

    h3 {
      margin-bottom: 23px;
    }

    hr {
      width: 303px;
      border: 2px solid #E9F3F8;
      margin-bottom: 27px;
    }

    .price {
      font-weight: 500;
      font-size: 32px;
      color: $blue;
      margin-bottom: 25px;
    }
  }
}

.testimonials {
  background-color: #F5FCFD;

  img {
    float: left;
  }

  h2 {
    padding-top: 113px;
    padding-left: 877px;
  }

  .carousel {
    margin-left: 877px;
    padding-bottom: 37px;
    margin-top: 37px;

    .item {
      width: 362px;
      height: 215px;
      background-color: #FFFFFF;
      filter: drop-shadow(0px 4px 20px rgba(0, 70, 156, 0.08));
      padding-top: 42px;
      padding-left: 30px;

      img {
        float: right;
        padding-right: 58px;
        padding-top: 6px;
      }
    }

    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      background: #F5FCFD;
      border: 1.6px solid $dark-blue;
      box-sizing: border-box;
      border-radius: 32px;
    }

    .swiper-pagination-bullet-active {
      width: 38px;
      background: #0063DD;
      border-radius: 32px;
    }
  }
}
