@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
* {
  margin: 0 auto;
}

body {
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  background: #FFFFFF;
  font-family: Quicksand, sans-serif;
  font-weight: 400;
  font-size: 16px;
}

a:hover {
  opacity: 70%;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 18px;
}

button {
  width: 165px;
  height: 50px;
}

.button {
  font-family: inherit;
  font-weight: 700;
  color: #0F7BFF;
  font-size: 16px;
  background-color: #FFFFFF;
  border: 2px solid #0F7BFF;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.button:hover {
  color: #FFFFFF;
  background-color: #0F7BFF;
}

.blue {
  color: #FFFFFF;
  background-color: #0F7BFF;
}
.blue:hover {
  color: #0F7BFF;
  background-color: #FFFFFF;
}

header .waves {
  position: absolute;
  box-shadow: -7px -7px 32px rgba(0, 30, 67, 0.06);
  width: 100%;
  z-index: -999;
}
header .promo {
  margin-top: 87px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 655px;
  height: 239px;
}
header .promo .button:first-child {
  margin-right: 26px;
}
header .promo h1 {
  padding-bottom: 30px;
}
header .promo p {
  color: #929292;
  font-weight: 400;
  line-height: 27px;
  padding-bottom: 33px;
}
header .menu {
  position: absolute;
  right: 0;
  padding-top: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
header .menu a {
  font-weight: 500;
  text-decoration: none;
  color: #929292;
  margin-right: 40px;
}
header .menu a.active {
  color: #0F7BFF;
}
header .menu .button {
  margin-left: 12px;
  margin-right: 140px;
  font-size: 16px;
  background-color: #0063DD;
  border: 2px solid #0063DD;
}
header .menu .button:hover {
  color: #0063DD;
  background-color: #FFFFFF;
}
header .devices {
  position: absolute;
  left: 50%;
  transform: translate(-51%, 0);
  margin-right: -50%;
  margin-top: 68px;
  z-index: -3;
}
header .logo {
  display: inline-flex;
  cursor: pointer;
  margin-left: 136px;
  padding: 25px 23px 32px 23px;
  background: #0F7BFF;
  border-radius: 0 0 22px 22px;
  text-align: center;
  color: #FFFFFF;
  font-size: 36px;
  font-weight: 700;
}
header .scrollDown {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  margin-right: -50%;
  top: 972px;
}

main {
  margin-top: 600px;
}
main .features {
  text-align: center;
  background-color: #F5FCFD;
}
main .features .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1146px;
  grid-column-gap: 30px;
  grid-template-areas: "c1 c2 c3";
  padding-bottom: 130px;
}
main .features .container .card {
  margin-top: 165px;
  width: 362px;
  height: 290px;
  box-shadow: 0 4px 16px rgba(0, 66, 148, 0.08);
  border-radius: 5px;
}
main .features .container .card:first-child {
  grid-area: c1;
}
main .features .container .card:nth-child(2) {
  grid-area: c2;
  margin-top: 215px;
}
main .features .container .card:last-child {
  grid-area: c3;
}
main .features .container .card h3 {
  padding-bottom: 25px;
}
main .features .container .card p {
  font-weight: 300;
  width: 333px;
}
main .features .container .card img {
  padding-top: 40px;
  padding-bottom: 21px;
}
@media (max-width: 1200px) {
  main .features .container {
    max-width: 970px;
  }
  main .features .container .card {
    width: 300px;
  }
  main .features .container .card p {
    width: 220px;
  }
}
@media (max-width: 992px) {
  main .features .container {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: none;
    grid-template-areas: "c1" "c2" "c3";
    max-width: 750px;
  }
  main .features .container .card {
    margin-top: 50px;
    width: 560px;
  }
  main .features .container .card:nth-child(2) {
    margin-top: 50px;
  }
  main .features .container .card p {
    width: 470px;
  }
}
@media (max-width: 767px) {
  main .features .container {
    max-width: none;
  }
  main .features .container .card {
    margin-top: 50px;
    max-width: 320px;
  }
  main .features .container .card p {
    max-width: 320px;
  }
}
main .about {
  padding-top: 60px;
}
main .about .container {
  margin-right: 105px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: ". img1 t1. " ". t2 img2 .";
  grid-row-gap: 233px;
}
main .about .container h2 {
  padding-bottom: 30px;
}
main .about .container p {
  font-weight: 300;
  line-height: 24px;
}
main .about .container .img1 {
  margin-left: 122px;
  grid-area: img1;
}
main .about .container .img2 {
  margin-left: 126px;
  margin-top: -17px;
  grid-area: img2;
}
main .about .container .messaging {
  grid-area: t1;
  margin-left: 125px;
}
main .about .container .messaging h2 {
  margin-top: 95px;
}
main .about .container .messaging p {
  width: 476px;
}
main .about .container .keepInTouch {
  grid-area: t2;
  margin-left: 120px;
}
main .about .container .keepInTouch h2 {
  margin-top: 82px;
}
main .about .container .keepInTouch p {
  width: 543px;
}
main .about .container .readMore {
  text-decoration: none;
  font-weight: 500;
  padding-top: 37px;
  margin: 0 0;
  display: flex;
  align-items: center;
}
main .about .container .readMore div {
  margin: 0;
  color: #0F7BFF;
  display: inline-block;
  padding-right: 15px;
}
main .about .container .readMore img {
  margin: 0;
  display: inline-block;
}
main .about .container .figure {
  position: absolute;
  width: 390px;
  height: 483px;
  transform: matrix(0.77, -0.64, -0.64, -0.77, 0, 0);
  border-radius: 40px;
}
main .about .container .figure-1 {
  left: 394px;
  top: 1670px;
  background: linear-gradient(147.4deg, #0F7BFF 7.27%, #0063DD 93.68%);
}
main .about .container .figure-2 {
  background: linear-gradient(272deg, #0F7BFF 4.58%, #0063DD 78.9%);
  left: 1136px;
  top: 2358px;
}
main .about .container img {
  z-index: 1;
}
main .instruction {
  background-color: #F5FCFD;
}
main .instruction .title {
  margin-top: 116px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-bottom: 44px;
}
main .instruction .title h2 {
  padding-top: 119px;
  font-weight: 400;
  padding-bottom: 25px;
}
main .instruction .title p {
  font-weight: 300;
  line-height: 24px;
  width: 722px;
}
main .instruction .cards {
  display: grid;
  grid-gap: 26px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: ". c1 c2 c3 .";
  text-align: center;
}
main .instruction .line {
  position: absolute;
  top: 3180px;
  left: 50%;
  transform: translate(-50%, 0);
  margin-right: -50%;
  min-width: 40%;
}
main .instruction .card {
  z-index: 1;
}
main .instruction .card:nth-child(2) {
  grid-area: c1;
}
main .instruction .card:nth-child(3) {
  grid-area: c2;
}
main .instruction .card:last-child {
  grid-area: c3;
}
main .instruction .card h3 {
  padding-top: 28px;
  padding-bottom: 20px;
}
main .instruction .card p {
  font-weight: 300;
  line-height: 24px;
  width: 333px;
  margin-bottom: 137px;
}
main .plans {
  margin-top: 130px;
  margin-bottom: 129px;
}
main .plans .container {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: ". pricing c1 c2 .";
  text-align: center;
}
main .plans .container :first-child {
  grid-area: pricing;
}
main .plans .container :nth-child(2) {
  grid-area: c1;
}
main .plans .container :last-child {
  grid-area: c2;
}
main .plans .pricing {
  width: 336px;
  text-align: left;
  margin: 161px 0 0 0;
}
main .plans .pricing p {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 40px;
}
main .plans .pricing h2 {
  font-weight: 500;
  margin-bottom: 30px;
}
main .plans .pricing .toggle {
  display: inline-block;
  overflow: hidden;
}
main .plans .pricing .toggle input[type=radio] {
  display: none;
}
main .plans .pricing .toggle input[type=radio]:checked + label {
  background: #0F7BFF;
  color: #FFFFFF;
}
main .plans .pricing .toggle label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  color: #0F7BFF;
  font-size: 16px;
  background-color: #FFFFFF;
  border: 2px solid #0F7BFF;
  border-radius: 25px;
  transition: background-color 0.3s, color 0.3s;
  width: 162px;
  height: 46px;
}
main .plans .pricing .item {
  float: left;
  display: inline-block;
}
main .plans .pricing .item:first-child label {
  border-radius: 25px 0 0 25px;
}
main .plans .pricing .item:last-child label {
  border-radius: 0 25px 25px 0;
}
main .plans .card {
  width: 362px;
  filter: drop-shadow(0px 4px 20px rgba(0, 78, 172, 0.08));
  background-color: #FFFFFF;
  padding-bottom: 46px;
}
main .plans .card .dollarSign {
  font-size: 18px;
}
main .plans .card ul {
  padding: 0;
  margin-bottom: 21px;
}
main .plans .card li {
  list-style-type: none;
  font-weight: 300;
  padding-bottom: 9px;
}
main .plans .card img {
  margin-top: 39px;
  margin-bottom: 14px;
}
main .plans .card h3 {
  margin-bottom: 23px;
}
main .plans .card hr {
  width: 303px;
  border: 2px solid #E9F3F8;
  margin-bottom: 27px;
}
main .plans .card .price {
  font-weight: 500;
  font-size: 32px;
  color: #0F7BFF;
  margin-bottom: 25px;
}
main .testimonials {
  background-color: #F5FCFD;
}
main .testimonials img {
  float: left;
}
main .testimonials h2 {
  padding-top: 113px;
  padding-left: 877px;
}
main .testimonials .carousel {
  margin-left: 877px;
  padding-bottom: 192px;
  margin-top: 37px;
}
main .testimonials .carousel .item {
  width: 332px;
  height: 177px;
  background-color: #FFFFFF;
  filter: drop-shadow(0px 4px 20px rgba(0, 70, 156, 0.08));
  padding-top: 42px;
  padding-left: 30px;
}
main .testimonials .carousel .item h5 {
  padding-top: 10px;
  padding-bottom: 25px;
  color: #999999;
  font-weight: 400;
  font-size: 14px;
}
main .testimonials .carousel .item p {
  width: 332px;
  line-height: 20px;
  margin: 0;
}
main .testimonials .carousel .item img {
  float: right;
  padding-right: 36px;
  padding-top: 6px;
}
main .testimonials .carousel .swiper-pagination {
  bottom: 140px;
  left: -472px;
}
main .testimonials .carousel .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #F5FCFD;
  border: 2px solid #0063DD;
  box-sizing: border-box;
  border-radius: 32px;
}
main .testimonials .carousel .swiper-pagination-bullet-active {
  width: 38px;
  background: #0063DD;
  border-radius: 32px;
}
main .latest-news {
  text-align: center;
}
main .latest-news .container {
  display: grid;
  grid-template-columns: 584px 164px 362px;
  grid-gap: 30px;
  width: 1197px;
  height: 576px;
  text-align: left;
}
main .latest-news .container .post-main {
  padding-left: 26px;
  padding-top: 3px;
}
main .latest-news .container .post-main h3 {
  padding-top: 28px;
  padding-bottom: 24px;
  letter-spacing: -0.3px;
  color: #0F7BFF;
  font-size: 24px;
  line-height: 1.5;
}
main .latest-news .container .post-main p {
  font-weight: 300;
  line-height: 1.5;
}
main .latest-news .container .post-main .continue {
  text-decoration: none;
  font-weight: 500;
  padding-top: 38px;
  margin: 0 0;
  display: flex;
  align-items: center;
}
main .latest-news .container .post-main .continue div {
  margin: 0;
  color: #0F7BFF;
  display: inline-block;
  padding-right: 15px;
}
main .latest-news .container .post-main .continue img {
  margin: 0;
  display: inline-block;
}
main .latest-news .container .images {
  padding-top: 3px;
}
main .latest-news .container .images img {
  padding-bottom: 26px;
}
main .latest-news .container .aside {
  padding-left: 0;
}
main .latest-news .container .aside h3 {
  line-height: 1.5;
  letter-spacing: -0.1px;
  padding-bottom: 25px;
  width: 413px;
}
main .latest-news .container .aside p {
  line-height: 1.5;
  width: 339px;
  margin: 0;
  padding-bottom: 33px;
  letter-spacing: -0.1px;
}
main .latest-news .title {
  padding-top: 130px;
}
main .latest-news .title p {
  padding-top: 25px;
  font-weight: 300;
  width: 722px;
  line-height: 24px;
  padding-bottom: 40px;
}
main .free-trial {
  margin-top: 106px;
  background-color: #F5FCFD;
  padding-top: 133px;
  padding-bottom: 118px;
}
main .free-trial .container {
  display: grid;
  grid-template-columns: 336px 154px 264px;
  grid-template-areas: "t . b";
  width: 754px;
}
main .free-trial .container :first-child {
  grid-area: t;
}
main .free-trial .container :last-child {
  grid-area: b;
}
main .free-trial .button {
  width: 264px;
  margin-top: 22px;
  font-weight: bold;
}
main .free-trial p {
  padding-top: 25px;
}

footer {
  background-color: #0F7BFF;
  text-align: center;
}
footer h1 {
  color: #FFFFFF;
  padding-top: 116px;
  padding-bottom: 30px;
}
footer .formGroup {
  display: inline-block;
  overflow: hidden;
  padding-bottom: 114px;
}
footer .formGroup input[type=email], footer .formGroup textarea, footer .formGroup select {
  background: #0063DD;
  color: #FFFFFF;
  height: 44px;
  width: 364px;
  border: 2px solid #0063DD;
  border-radius: 25px 0 0 25px;
  float: left;
  display: inline-block;
  padding-left: 28px;
}
footer .formGroup textarea:focus, footer .formGroup input:focus {
  color: #FFFFFF;
}
footer .formGroup input::placeholder {
  font-family: Quicksand, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
footer .formGroup .inputButton {
  float: left;
  display: inline-block;
  border-radius: 0 25px 25px 0;
}
footer .formGroup .inputButton :hover {
  background-color: #0063DD;
}
footer .bottom {
  background-color: #0063DD;
  padding-top: 52px;
  padding-bottom: 44px;
  display: flex;
  color: #FFFFFF;
}
footer .bottom .copyright {
  margin-left: 387px;
  font-weight: 300;
  line-height: 150%;
}
footer .bottom .links {
  margin-left: 143px;
  margin-right: 0;
  display: flex;
  justify-content: space-between;
}
footer .bottom .links div {
  padding-right: 37px;
}
footer .bottom .links div:last-child {
  padding-right: 0;
}
footer .bottom .icons {
  margin-left: 0;
  margin-right: 0;
}
footer .bottom .icons img {
  padding-right: 0;
}

/*# sourceMappingURL=styles.css.map */
